---
import '../assets/css/header.css';
---

<header class="site-header">
  <div class="site-header__container">
    <div class="site-header__logo">
      <a href="/" class="site-header__logo-link">
        <img src="/img/agws_logo.png" alt="AGWS Logo" class="site-header__logo-image light-mode" />
        <img src="/img/logodark.png" alt="AGWS Logo" class="site-header__logo-image dark-mode" />
      </a>
    </div>
    
    <nav class="site-header__nav">
      <ul class="site-header__nav-list">
        <li class="site-header__nav-item"><a href="/" class="site-header__nav-link">Accueil</a></li>
        <li class="site-header__nav-item site-header__nav-item--has-submenu">
          <a href="/services" class="site-header__nav-link">Services 
            <svg class="submenu-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </a>
          <ul class="site-header__submenu">
            <li class="site-header__submenu-item"><a href="/services/dev_web" class="site-header__submenu-link">Développement Web</a></li>
            <li class="site-header__submenu-item"><a href="/services/e-commerce" class="site-header__submenu-link">E-commerce</a></li>
            <li class="site-header__submenu-item"><a href="/services/referencement-seo" class="site-header__submenu-link">Référencement SEO</a></li>
            <li class="site-header__submenu-item"><a href="/services/image-numerique" class="site-header__submenu-link">Image numérique</a></li>
          </ul>
        </li>
        <li class="site-header__nav-item"><a href="/about" class="site-header__nav-link">À propos</a></li>
        <li class="site-header__nav-item"><a href="/contact" class="site-header__nav-link">Contact</a></li>
      </ul>
    </nav>
    
    <div class="site-header__right">
      <div class="site-header__menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="site-overlay"></div>
</header>
<script src="../scripts/header-menu.js"></script>